body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
    
}

.btn-container{
    display: flex;
    justify-content: center;

}

.green{
    background-color: #58a0b9;
}

.yellow{
    background-color: #fa903b;
}

.red{
    background-color: #d55075;
}

.purple{
    background-color: #7794f8;
}


.flash{
    background-color: white;
}
